.app-navigation {
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-navigation > * {
    margin-right: 10px;
}

.month-title {
    font-size: 1.5rem;
}

.prev-next {
    cursor: pointer;
    pointer-events: all;
}

/* MonthView */
.month-view .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.month-view .days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: black;
}

.month-view .days-of-week .weekend-day {
    font-weight: 700;
}

/* DayView */
.day-view {
    pointer-events: all;
    cursor: pointer;
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.day-view.today {
    background-color: #4caf50;
}

.day-view .day-of-week {
    display: none !important;
}

.day-view > * {
    margin: 0px !important;
    padding: 0px !important;
}

.events {
    margin-top: 10px;
}

/* EventView */
.event-view {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.event-view:hover {
    background-color: #ddd;
    cursor: pointer;
}

.event-view > * {
    margin: 0px !important;
    padding: 0px !important;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 4px;
}
